.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 0.5px 4px;
}
.card {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 180px;
    width: 120px;
    border-radius: 2.5px; /* 5px rounded corners */

}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
    height: 180px;
    width: 120px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    pointer-events: none;
    transition: all 0.4s;
}

.card-hghlght {
    pointer-events: auto;
    transform: scale(1);
    transition: all 0.4s;
}

.card-hghlght:hover {
    opacity: 1;
    transform: scale(1.2);
}

.content:hover .card-hghlght:not(:hover) {
    opacity: 0.5;
    transform: scale(0.9);
}

