@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/**
This file contains the general and shared style of your application.
 */

 

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: #F6F2E9;
}

html, body {
  height: 100%;
}


input,
textarea,
select,
button {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  outline: none;
}

*:focus {
  outline: none;
}

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}



h2 {
  background: linear-gradient(to right, #9E0000, #9E0000 , #08259D, #08259D , #158B02,#158B02, #E8C61C, #E8C61C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black
}

li {
  font-size: 30px;
  font-weight: 900;
}

